.agujero {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    margin: 5px;
}

.topo {
    width: 80px;
    height: 80px;
    background: brown;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
